<div class="navbar-fixed">
  <nav class="white">
    <div class="nav-wrapper">
      <a href="{{ "/" | relative_url }}" class="brand-logo center title-color text-font">{{ site.title }}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a class="title-color text-font" href="{{ "/" | relative_url }}">
              Posts
            </a>
          </li>
          <li>
            <a class="title-color text-font" href="{{ "/about" | relative_url }}">
              About
            </a>
          </li>
          <li>
            <a class="title-color text-font" href="{{ "/resume" | relative_url }}">
              Resume
            </a>
          </li>
      </ul>
    </div>
  </nav>
</div>
