---
---

@import "materialize";
@import "prism";

$primary: #ffca28;
$dark: #000000;
$light: #ffffff;

$primary-font: 'Georgia', serif;
$secondary-font: 'Helvetica', sans-serif;

$small-screen-size: 600px;

body {
    @extend .grey, .darken-3;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    @extend .orange, .lighten-1;
    @extend .black-text;

    .nav-text-color {
        @extend .black-text;
    }
}

@media only screen and (max-width: $small-screen-size) {
    nav {
        .brand-logo {
            font-size: large !important;
        }
    }
}

footer {
    @extend .grey, .darken-3
}

main {
    flex: 1 0 auto;
}

.medium-image {
    max-width: 80%;
    border-radius: 5px;
}

@media only screen and (max-width: $small-screen-size) {
    .medium-image {
        max-width: 95%;
        border-radius: 5px;
    }
}

.centered-content {
    margin-left: 10%;
    margin-right: 10%;
}

@media only screen and (max-width: $small-screen-size) {
    .centered-content {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.mb-50 {
    margin-bottom: 50px;
}

.text-color {
    @extend .white-text;
}

.title-font {
    font-family: $primary-font;
}

.text-font {
    font-family: $secondary-font;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.blog-title-font {
    font-family: $primary-font;
    font-weight: bold;
    font-size: large;
}

.blog-title-color {
    @extend .black-text;
}

article {
    color: $light;
    font-family: $secondary-font;

    h1, h2, h3, h4, h5 {
        color: $light;
        font-family: $primary-font;
    }

    h1 {
        font-weight: bold;
    }

    blockquote {
        border-left: 5px solid $primary;
    }

    ul {
        padding-left: 2rem !important;
    }
}

a {
    color: $primary;
}

.text-no-wrap {
    white-space: nowrap;
}

.sidenav {
    @extend .grey, .darken-3;
    max-width: 40%;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .card {
        @extend .grey, .darken-4;

        .read-link {
            color: $primary;
        }
    }
}

@media only screen and (max-width: $small-screen-size) {
    .post-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}